.la-about-page {
	//height: 100%;
  .body {
    > div > nav {
        background-color: #000 !important;
        box-shadow: none;


        & > a , ul > li > a, a {
            color: #496a73;
        }
    .brand-logo {
            color: #496a73;
            
        }        
    }
  	height: 100%;
    background-image: url('/images/starfield.jpg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;

    @media #{$medium-and-up} {
      
    }
    @media #{$large-and-up} {
    	 
    }
  .la-bg-wrapper {
  }
   
  }
  h1 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
    padding: 3.5vw 0;
  }
  h5 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 35px;
    padding-top: 28vh;
  }
  .panels {
    width: 300px;
    margin: 0 auto;
    height: 100%;
    &>p {
      background-color: rgba(0, 0, 0, .2);
      padding: 12px;
      color: #fff;
      opacity: 0 !important;
    }
  }
  .page-footer {
    background-color: transparent;
    position: fixed;
    width: 100%;
    bottom: 0;
    .row {
      margin-bottom: 0px;
      @media #{$medium-and-up} {
        margin-bottom: inherit;
      }
    }
    .footer-copyright {
      font-size: 10px;
      min-height: 25px ;
      @media #{$medium-and-up} {
        font-size: inherit;
        min-height: inherit
      }
    }
  }
  .shootingstar {
   
    position: fixed;
    top: 0;
    left: 0;
  

  }
}
