.la-about-page {

h1 {
	color: #fff ;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 2px;
	margin:0;
	padding: 4.5vw 0;
}
h5 {
		color: #fff ;
	font-family: "Oswald", sans-serif;
}
	.la-content-wrapper {
		background-image: url(/images/starfield.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom
	}
}
