@font-face {
  font-family: 'Socicon';
  src: url('%%CDNURL%%/fonts/socicon/Socicon-la.eot'); /* IE9 Compat Modes */
  src: url('%%CDNURL%%/fonts/socicon/Socicon-la.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('%%CDNURL%%/fonts/socicon/Socicon-la.woff2') format('woff2'), /* Super Modern Browsers */
       url('%%CDNURL%%/fonts/socicon/Socicon.woff') format('woff'), /* Pretty Modern Browsers */
       url('%%CDNURL%%/fonts/socicon/Socicon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('%%CDNURL%%/fonts/socicon/Socicon.svg#Socicon') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bebas-neue';
  src: url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.eot'); /* IE9 Compat Modes */
  src: url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.woff2') format('woff2'), /* Super Modern Browsers */
       url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.woff') format('woff'), /* Pretty Modern Browsers */
       url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('%%CDNURL%%/fonts/bebas_neue/bebas_neue.svg#bebas_neue') format('svg'); /* Legacy iOS */
}
@charset "UTF-8";