
@font-face {
    font-family: 'Socicon';
    src: url('%%CDNURL%%/fonts/socicon/Socicon-la.eot');
    src: url('%%CDNURL%%/fonts/socicon/Socicon-la.woff2') format('woff2'),
             url('%%CDNURL%%/fonts/socicon/Socicon-la.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Socicon';
    src: url('%%CDNURL%%/fonts/socicon/Socicon.woff') format('woff'),
             url('%%CDNURL%%/fonts/socicon/Socicon.ttf') format('truetype'),
             url('%%CDNURL%%/fonts/socicon/Socicon.svg#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@charset "UTF-8";
