@font-face {
  font-family: 'Socicon';
  src: url("/fonts/socicon/Socicon-la.eot");
  src: url("/fonts/socicon/Socicon-la.woff2") format("woff2"), url("/fonts/socicon/Socicon-la.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Socicon';
  src: url("/fonts/socicon/Socicon.woff") format("woff"), url("/fonts/socicon/Socicon.ttf") format("truetype"), url("/fonts/socicon/Socicon.svg#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}