<%
  _.forEach(items, function(item){
%>
  <div class="viewer-item hide-item grid-item flickity-item" data-keywords="<%- item.keywords %>">
    <div class="card">
      <div class="card-content">
        <div class="dog-ear activator"><i class="material-icons right">more_vert</i></div>
        <h6 class="card-title  grey-text text-darken-4"><%- item.title %></h6>
      </div>
      <div class="card-image">
        <img class="activator" src="<%- item.imgsrc %>">
      </div>
      <div class="card-reveal">
        <div class="card-title grey-text text-darken-4">
          <div class="close right">
            <i class="material-icons ">close</i>
          </div>
          <%- item.title %>
        </div>
        <div class="card-description">
          <p>
            <%= item.description %>
          </p>
          <div class="card-action">
            <ul>
              <%
              _.forEach(item.keywords, function(tag) {
                %>
                <li class="chip">
                  <%- tag %>
                </li>
                <%
                }) ;
              %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%
  }) ;
%>
